<h1>Editing Historical Guard Agent</h1>

<%= render 'form', historical_guard_agent: @historical_guard_agent %>

<%= link_to 'Show', @historical_guard_agent %> |
<%= link_to 'Back', historical_guard_agents_path %>
