<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @novelty_type.description %>
</p>

<%= link_to 'Edit', edit_novelty_type_path(@novelty_type) %> |
<%= link_to 'Back', novelty_types_path %>
