# Logfile created on 2018-04-16 13:44:53 -0300 by logger.rb/53141
<br>
=================== CALCULAR CUPO =======================<br>
DEPENDENCIA: (106) Clínica Médica <span style='margin-left: 50px;''>PERIODO: 1 / 2018</span><br>
<br>PRIMERA PARTE<br>
<br>SEGUNDA PARTE<br>
hs_dias_semana_servicio: 2760<br>
gs_dias_semana_servicio: 0<br>
hs_sabado_servicio: 240<br>
dotacion_actual: 20<br>
<br>TERCERA PARTE<br>
hs_dias_semana_requeridas: 0<br>
gs_dias_semana_requeridas: 552<br>
hs_sabado_requeridas: 0<br>
hs_domingo_requeridas: 192<br>
guardia_final: 744<br>
<br>CUARTA PARTE<br>
razon_final: 0<br>
acum: 0<br>
cupo_historico: 0<br>
cupo: 0<br>
<br>QUINTA PARTE<br>
<br>SEXTA PARTE<br>
cupo: 0<br>
total_hs_liquidadas: 0<br>
<br>SEPTIMA PARTE<br>
<br>OCTAVA  PARTE<br>
==========================================================<br>
