# Logfile created on 2018-04-16 12:32:50 -0300 by logger.rb/53141
<br>
=================== CALCULAR CUPO =======================<br>
DEPENDENCIA: (106) Enfermería - UMU <span style='margin-left: 50px;''>PERIODO: 2 / 2018</span><br>
<br>PRIMERA PARTE<br>
<br>SEGUNDA PARTE<br>
hs_dias_semana_servicio: 1872.0<br>
gs_dias_semana_servicio: 0<br>
hs_sabado_servicio: 0<br>
dotacion_actual: 16<br>
<br>TERCERA PARTE<br>
hs_dias_semana_requeridas: -552.0<br>
gs_dias_semana_requeridas: 0<br>
hs_sabado_requeridas: 324.0<br>
hs_domingo_requeridas: 432<br>
guardia_final: 204.0<br>
<br>CUARTA PARTE<br>
razon_final: 5<br>
acum: 5<br>
cupo_historico: 80<br>
cupo: 80<br>
<br>QUINTA PARTE<br>
<br>SEXTA PARTE<br>
cupo: 80<br>
total_hs_liquidadas: 84<br>
<br>SEPTIMA PARTE<br>
<br>OCTAVA  PARTE<br>
msg: Se RECHAZA la liquidación por excederse en el CUPO. Total de horas excedidas 4<br>
==========================================================<br>
